In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv("Desktop/emoint tweet/sadness-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

        Id                                              tweet  emotion  score
0    40000                      Depression sucks! #depression  sadness  0.958
1    40001            Feeling worthless as always #depression  sadness  0.958
2    40002                       Feeling worthless as always   sadness  0.958
3    40003  My #Fibromyalgia has been really bad lately wh...  sadness  0.946
4    40004  Im think ima lay in bed all day and sulk. Life...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  @VivienLloyd Thank you so much! Just home - st...  sadness  0.104
782  40782              Just put the winter duvet on ‚òÉÔ∏è‚ùÑÔ∏èüå¨‚òîÔ∏è   sadness  0.104
783  40783  @SilkInSide @TommyJoeRatliff that's so pretty!...  sadness  0.088
784  40784  @BluesfestByron second artist announcement loo...  sadness  0.083
785  40785  I can literally eat creamy pesto pasta topped ...  sadness  0.083

[786 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text) 
    text = re.sub(r'\d+', '', text) 
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

        Id                                              tweet  emotion  score
0    40000                       depression sucks #depression  sadness  0.958
1    40001            feeling worthless as always #depression  sadness  0.958
2    40002                        feeling worthless as always  sadness  0.958
3    40003  my #fibromyalgia has been really bad lately wh...  sadness  0.946
4    40004  im think ima lay in bed all day and sulk life ...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  thank you so much just home stunned but so hap...  sadness  0.104
782  40782                       just put the winter duvet on  sadness  0.104
783  40783  thats so pretty i love the sky in the backgrou...  sadness  0.088
784  40784  second artist announcement looking good #blues...  sadness  0.083
785  40785  i can literally eat creamy pesto pasta topped ...  sadness  0.083

[786 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

        Id                                              tweet  emotion  score
0    40000                   [depression, sucks, #depression]  sadness  0.958
1    40001      [feeling, worthless, as, always, #depression]  sadness  0.958
2    40002                   [feeling, worthless, as, always]  sadness  0.958
3    40003  [my, #fibromyalgia, has, been, really, bad, la...  sadness  0.946
4    40004  [im, think, ima, lay, in, bed, all, day, and, ...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  [thank, you, so, much, just, home, stunned, bu...  sadness  0.104
782  40782                [just, put, the, winter, duvet, on]  sadness  0.104
783  40783  [thats, so, pretty, i, love, the, sky, in, the...  sadness  0.088
784  40784  [second, artist, announcement, looking, good, ...  sadness  0.083
785  40785  [i, can, literally, eat, creamy, pesto, pasta,...  sadness  0.083

[786 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

        Id                                              tweet  emotion  score
0    40000                   [depression, sucks, #depression]  sadness  0.958
1    40001          [feeling, worthless, always, #depression]  sadness  0.958
2    40002                       [feeling, worthless, always]  sadness  0.958
3    40003  [#fibromyalgia, been, really, bad, lately, whi...  sadness  0.946
4    40004  [im, think, ima, lay, bed, day, sulk, life, hi...  sadness  0.934
..     ...                                                ...      ...    ...
781  40781  [thank, home, stunned, happy, dont, think, sun...  sadness  0.104
782  40782                               [put, winter, duvet]  sadness  0.104
783  40783  [thats, pretty, love, sky, background, purple,...  sadness  0.088
784  40784  [second, artist, announcement, looking, good, ...  sadness  0.083
785  40785  [literally, eat, creamy, pesto, pasta, topped,...  sadness  0.083

[786 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer



model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)


def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)

    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    
    
    with torch.no_grad():
        outputs = model(input_ids)
    
   
    last_hidden_states = outputs.last_hidden_state
    
    features = last_hidden_states.squeeze(0).numpy()
    
    return features


df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
df1

,Id,tweet,emotion,score,features
0,40000,"[depression, sucks, #depression]",sadness,0.958,"[[-0.1279724, 0.41236815, 0.051530708, -0.1606..."
1,40001,"[feeling, worthless, always, #depression]",sadness,0.958,"[[-0.12421638, 0.25974998, -0.0661158, -0.3355..."
2,40002,"[feeling, worthless, always]",sadness,0.958,"[[-0.23523621, 0.27867872, -0.5598585, -0.2093..."
3,40003,"[#fibromyalgia, been, really, bad, lately, whi...",sadness,0.946,"[[-0.04965788, 0.24742632, -0.007569845, -0.58..."
4,40004,"[im, think, ima, lay, bed, day, sulk, life, hi...",sadness,0.934,"[[-0.04689168, 0.025870707, 0.33319533, -0.149..."
...,...,...,...,...,...
781,40781,"[thank, home, stunned, happy, dont, think, sun...",sadness,0.104,"[[-0.042937506, 0.24438974, 0.10452047, -0.057..."
782,40782,"[put, winter, duvet]",sadness,0.104,"[[-0.18927328, 0.033073332, -0.024956549, 0.17..."
783,40783,"[thats, pretty, love, sky, background, purple,...",sadness,0.088,"[[-0.39431044, -0.13764822, -0.2091385, -0.067..."
784,40784,"[second, artist, announcement, looking, good, ...",sadness,0.083,"[[-0.21641317, 0.026052019, -0.18617798, -0.03..."
785,40785,"[literally, eat, creamy, pesto, pasta, topped,...",sadness,0.083,"[[-0.05402665, -0.19464205, -0.042251293, -0.2..."

In [17]:
df1.features[0].shape

(6, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
0,40000,"[depression, sucks, #depression]",sadness,0.958,"[[-0.1279724, 0.41236815, 0.051530708, -0.1606..."
1,40001,"[feeling, worthless, always, #depression]",sadness,0.958,"[[-0.12421638, 0.25974998, -0.0661158, -0.3355..."
2,40002,"[feeling, worthless, always]",sadness,0.958,"[[-0.23523621, 0.27867872, -0.5598585, -0.2093..."
3,40003,"[#fibromyalgia, been, really, bad, lately, whi...",sadness,0.946,"[[-0.04965788, 0.24742632, -0.007569845, -0.58..."
4,40004,"[im, think, ima, lay, bed, day, sulk, life, hi...",sadness,0.934,"[[-0.04689168, 0.025870707, 0.33319533, -0.149..."
5,40005,"[try, fail, dont, try, still, fail, #confused,...",sadness,0.917,"[[-0.30267218, 0.38377964, -0.13703564, 0.1354..."
6,40006,"[extreme, sadness]",sadness,0.917,"[[-0.166719, 0.14257, -0.1267908, 0.038275078,..."
7,40007,"[life, one, word, depressing]",sadness,0.917,"[[-0.030349113, 0.13385968, -0.20066914, 0.058..."
8,40008,"[panic, attacks, worst, feeling, really, sick,...",sadness,0.917,"[[-0.31141603, 0.07427356, 0.34359968, -0.3796..."
9,40009,"[feel, grim, ugly, atm]",sadness,0.896,"[[-0.04971684, 0.49060404, 0.027603516, -0.081..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences


features = df1['features'].tolist()


padded_features = pad_sequences(features, padding='post')


padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
X = np.stack(padded_df['features'])

print('Input feature shape:', X.shape)

Input feature shape: (786, 41, 768)

In [21]:
y = np.array(padded_df['score'])    
print("Input shape:", X.shape)
print("Output shape:", y.shape)

Input shape: (786, 41, 768)
Output shape: (786,)

In [23]:
X = np.reshape(X, (786, 41* 768))  
y = np.reshape(y, (786,))

In [24]:
X.shape

(786, 31488)

In [25]:
Y=df1['score'].copy()

In [26]:
import tensorflow as tf

In [29]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv1D, MaxPooling1D
from keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(512, input_shape=(31488,), activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(1, activation='linear'))



early_stopping = EarlyStopping(monitor='mean_squared_error', patience=1, mode='min')
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 512)               16122368

 dropout_5 (Dropout)         (None, 512)               0

 dense_7 (Dense)             (None, 256)               131328

 dropout_6 (Dropout)         (None, 256)               0

 dense_8 (Dense)             (None, 128)               32896

 dropout_7 (Dropout)         (None, 128)               0

 dense_9 (Dense)             (None, 64)                8256

 dropout_8 (Dropout)         (None, 64)                0

 dense_10 (Dense)            (None, 32)                2080

 dropout_9 (Dropout)         (None, 32)                0

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 16,296,961
Trainable params: 16,296,961
Non-trainable params: 0
_________________________________________________________________

In [30]:

df1['tweet'] = df1['tweet'].apply(lambda tokens: ' '.join(tokens))

array = df1['tweet'].values

tensor = tf.convert_to_tensor(array)

In [31]:

# Train the model with the EarlyStopping callback
history = model.fit(X, Y, batch_size=25, epochs=15, shuffle=True, verbose=1, callbacks=[early_stopping])

Epoch 1/15
32/32 [==============================] - 7s 184ms/step - loss: 0.0741 - mean_squared_error: 0.0741
Epoch 2/15
32/32 [==============================] - 6s 181ms/step - loss: 0.0576 - mean_squared_error: 0.0576
Epoch 3/15
32/32 [==============================] - 6s 181ms/step - loss: 0.0376 - mean_squared_error: 0.0376
Epoch 4/15
32/32 [==============================] - 6s 182ms/step - loss: 0.0301 - mean_squared_error: 0.0301
Epoch 5/15
32/32 [==============================] - 6s 182ms/step - loss: 0.0257 - mean_squared_error: 0.0257
Epoch 6/15
32/32 [==============================] - 6s 179ms/step - loss: 0.0228 - mean_squared_error: 0.0228
Epoch 7/15
32/32 [==============================] - 6s 183ms/step - loss: 0.0236 - mean_squared_error: 0.0236

In [32]:
model.save('emointjoy.h5','/Home')

In [33]:
from keras.models import load_model

loaded_model = load_model('emointjoy.h5')

In [34]:
test= pd.read_csv("Desktop/emoint tweet/sadness-ratings-0to1.test.gold.txt", delimiter='\t', header=None)
test.columns = ['Id', 'tweet', 'emotion', 'score']

In [35]:
test

        Id                                              tweet  emotion  score
0    40860  My 2 teens sons just left in the car to get ha...  sadness  0.667
1    40861  My 2 teens sons just left in the car to get ha...  sadness  0.458
2    40862  HartRamsey'sUPLIFT If you're still discouraged...  sadness  0.396
3    40863  @AmontanaW I nearly dropped my phone into the ...  sadness  0.271
4    40864  Whenever I'm feeling sad I will listen to mons...  sadness  0.604
..     ...                                                ...      ...    ...
668  41528          Why does Candice constantly pout #GBBO üíÑüòí  sadness  0.396
669  41529  @redBus_in #unhappy with #redbus CC, when I ta...  sadness  0.604
670  41530  @AceOperative789 no pull him afew weeks ago, s...  sadness  0.479
671  41531  I'm buying art supplies and I'm debating how s...  sadness  0.375
672  41532  @sainsburys Could you ask your Chafford Hundre...  sadness  0.438

[673 rows x 4 columns]

In [36]:
test= test.drop("score",axis=1)

In [37]:
test

        Id                                              tweet  emotion
0    40860  My 2 teens sons just left in the car to get ha...  sadness
1    40861  My 2 teens sons just left in the car to get ha...  sadness
2    40862  HartRamsey'sUPLIFT If you're still discouraged...  sadness
3    40863  @AmontanaW I nearly dropped my phone into the ...  sadness
4    40864  Whenever I'm feeling sad I will listen to mons...  sadness
..     ...                                                ...      ...
668  41528          Why does Candice constantly pout #GBBO üíÑüòí  sadness
669  41529  @redBus_in #unhappy with #redbus CC, when I ta...  sadness
670  41530  @AceOperative789 no pull him afew weeks ago, s...  sadness
671  41531  I'm buying art supplies and I'm debating how s...  sadness
672  41532  @sainsburys Could you ask your Chafford Hundre...  sadness

[673 rows x 3 columns]

In [38]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
test['tweet'] = test['tweet'].apply(preprocess_tweet)

In [39]:
test

        Id                                              tweet  emotion
0    40860  my 2 teens sons just left in the car to get ha...  sadness
1    40861  my 2 teens sons just left in the car to get ha...  sadness
2    40862  hartramsey'suplift if you're still discouraged...  sadness
3    40863  @amontanaw i nearly dropped my phone into the ...  sadness
4    40864  whenever i'm feeling sad i will listen to mons...  sadness
..     ...                                                ...      ...
668  41528          why does candice constantly pout #gbbo üíÑüòí  sadness
669  41529  @redbus_in #unhappy with #redbus cc, when i ta...  sadness
670  41530  @aceoperative789 no pull him afew weeks ago, s...  sadness
671  41531  i'm buying art supplies and i'm debating how s...  sadness
672  41532  @sainsburys could you ask your chafford hundre...  sadness

[673 rows x 3 columns]

In [40]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

test['tweet'] = test['tweet'].apply(remove_mentions)
test

        Id                                              tweet  emotion
0    40860  my 2 teens sons just left in the car to get ha...  sadness
1    40861  my 2 teens sons just left in the car to get ha...  sadness
2    40862  hartramsey'suplift if you're still discouraged...  sadness
3    40863   i nearly dropped my phone into the sink hahahaha  sadness
4    40864  whenever i'm feeling sad i will listen to mons...  sadness
..     ...                                                ...      ...
668  41528          why does candice constantly pout #gbbo üíÑüòí  sadness
669  41529   #unhappy with #redbus cc, when i talked with ...  sadness
670  41530   no pull him afew weeks ago, sadly theres no g...  sadness
671  41531  i'm buying art supplies and i'm debating how s...  sadness
672  41532   could you ask your chafford hundred store to ...  sadness

[673 rows x 3 columns]

In [41]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  # Remove all non-word characters except # and @ symbols
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'\s+', ' ', text).strip()
    return text

test['tweet'] = test['tweet'].apply(clean_text)

In [42]:
test

        Id                                              tweet  emotion
0    40860  my teens sons just left in the car to get hair...  sadness
1    40861  my teens sons just left in the car to get hair...  sadness
2    40862  hartramseysuplift if youre still discouraged i...  sadness
3    40863   i nearly dropped my phone into the sink hahahaha  sadness
4    40864  whenever im feeling sad i will listen to monst...  sadness
..     ...                                                ...      ...
668  41528             why does candice constantly pout #gbbo  sadness
669  41529  #unhappy with #redbus cc when i talked with th...  sadness
670  41530  no pull him afew weeks ago sadly theres no gam...  sadness
671  41531  im buying art supplies and im debating how ser...  sadness
672  41532  could you ask your chafford hundred store to t...  sadness

[673 rows x 3 columns]

In [43]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

test['tweet'] = test['tweet'].apply(convert_emoji)

In [44]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

test['tweet'] = test['tweet'].apply(tokenize_tweets)

In [45]:
test

        Id                                              tweet  emotion
0    40860  [my, teens, sons, just, left, in, the, car, to...  sadness
1    40861  [my, teens, sons, just, left, in, the, car, to...  sadness
2    40862  [hartramseysuplift, if, youre, still, discoura...  sadness
3    40863  [i, nearly, dropped, my, phone, into, the, sin...  sadness
4    40864  [whenever, im, feeling, sad, i, will, listen, ...  sadness
..     ...                                                ...      ...
668  41528      [why, does, candice, constantly, pout, #gbbo]  sadness
669  41529  [#unhappy, with, #redbus, cc, when, i, talked,...  sadness
670  41530  [no, pull, him, afew, weeks, ago, sadly, there...  sadness
671  41531  [im, buying, art, supplies, and, im, debating,...  sadness
672  41532  [could, you, ask, your, chafford, hundred, sto...  sadness

[673 rows x 3 columns]

In [46]:

stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

test['tweet'] = test['tweet'].apply(remove_stopwords)

In [47]:
test

        Id                                              tweet  emotion
0    40860  [teens, sons, left, car, get, haircuts, im, pr...  sadness
1    40861  [teens, sons, left, car, get, haircuts, im, pr...  sadness
2    40862  [hartramseysuplift, youre, still, discouraged,...  sadness
3    40863     [nearly, dropped, phone, into, sink, hahahaha]  sadness
4    40864  [whenever, im, feeling, sad, listen, monsta, h...  sadness
..     ...                                                ...      ...
668  41528           [does, candice, constantly, pout, #gbbo]  sadness
669  41529  [#unhappy, #redbus, cc, talked, them, before, ...  sadness
670  41530  [pull, him, afew, weeks, ago, sadly, theres, g...  sadness
671  41531  [im, buying, art, supplies, im, debating, seri...  sadness
672  41532  [ask, chafford, hundred, store, turn, their, c...  sadness

[673 rows x 3 columns]

In [48]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)
    
    
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    
    with torch.no_grad():
        outputs = model(input_ids)
    
 
    last_hidden_states = outputs.last_hidden_state
    
    features = last_hidden_states.squeeze(0).numpy()
    
    return features


test['features'] = test['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [49]:
test["features"][0].shape

(24, 768)

In [50]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = test['features'].tolist()

padded_features = pad_sequences(features, padding='post')


padded_df = test.copy()
padded_df['features'] = padded_features.tolist()

In [51]:
X_test= np.stack(padded_df['features'])


print('Input feature shape:', X_test.shape)

Input feature shape: (673, 37, 768)

In [57]:

from tensorflow.keras.preprocessing.sequence import pad_sequences

max_sequence_length = 41

padded_test_data = pad_sequences(X_test, maxlen=max_sequence_length, padding='post', truncating='post')

In [60]:
X = np.reshape(padded_test_data, (673, 41 * 768))

In [61]:
test_features = np.array(X)

In [62]:
print(test_features.shape)

(673, 31488)

In [63]:
predictions = loaded_model.predict(test_features)

22/22 [==============================] - 1s 21ms/step

In [64]:
print(predictions)

[[0.3411812 ]
 [0.40345177]
 [0.27133304]
 [0.3518517 ]
 [0.46513572]
 [0.36193806]
 [0.3766475 ]
 [0.328167  ]
 [0.34471503]
 [0.3683497 ]
 [0.4882487 ]
 [0.3384192 ]
 [0.4150851 ]
 [0.2682984 ]
 [0.32977828]
 [0.27380416]
 [0.36888805]
 [0.50044775]
 [0.29151914]
 [0.35253394]
 [0.4180524 ]
 [0.36293766]
 [0.42845392]
 [0.4439992 ]
 [0.3007766 ]
 [0.32886606]
 [0.37609687]
 [0.3341128 ]
 [0.38928786]
 [0.42633462]
 [0.492797  ]
 [0.33978438]
 [0.44398192]
 [0.47217068]
 [0.4167275 ]
 [0.32791248]
 [0.31761992]
 [0.3815317 ]
 [0.30683723]
 [0.2382664 ]
 [0.29098478]
 [0.32508627]
 [0.4102328 ]
 [0.3829669 ]
 [0.29903734]
 [0.42061922]
 [0.4347054 ]
 [0.4395783 ]
 [0.3709918 ]
 [0.40905824]
 [0.3801019 ]
 [0.3464416 ]
 [0.43534353]
 [0.40883777]
 [0.34109363]
 [0.42957482]
 [0.24879926]
 [0.3800583 ]
 [0.35032275]
 [0.32783258]
 [0.34778216]
 [0.28116828]
 [0.48585543]
 [0.35491955]
 [0.37281895]
 [0.3751361 ]
 [0.659537  ]
 [0.4277515 ]
 [0.42955282]
 [0.3652611 ]
 [0.22983034]
 [0.3960029 ]
 [0.4095812 ]
 [0.28901812]
 [0.47310683]
 [0.3715173 ]
 [0.36032045]
 [0.2588192 ]
 [0.3047239 ]
 [0.5615682 ]
 [0.3490803 ]
 [0.26779306]
 [0.30156448]
 [0.34658182]
 [0.37722042]
 [0.43882027]
 [0.5319309 ]
 [0.3898932 ]
 [0.41180152]
 [0.22377637]
 [0.5425733 ]
 [0.310499  ]
 [0.34906113]
 [0.3927925 ]
 [0.47693452]
 [0.45847097]
 [0.41538015]
 [0.3921448 ]
 [0.44715837]
 [0.35729262]
 [0.22341849]
 [0.41717228]
 [0.39074597]
 [0.5454687 ]
 [0.2756439 ]
 [0.3576646 ]
 [0.24626179]
 [0.42557487]
 [0.41335437]
 [0.28530398]
 [0.4793561 ]
 [0.32905242]
 [0.32181704]
 [0.37871844]
 [0.4084558 ]
 [0.25749907]
 [0.20257638]
 [0.301453  ]
 [0.436649  ]
 [0.34713903]
 [0.3848289 ]
 [0.41205612]
 [0.35949862]
 [0.28073004]
 [0.39845705]
 [0.38117543]
 [0.43234864]
 [0.42241088]
 [0.46663654]
 [0.40382645]
 [0.43423232]
 [0.40949646]
 [0.35034811]
 [0.22240435]
 [0.40204272]
 [0.25842923]
 [0.38680276]
 [0.40677774]
 [0.5185787 ]
 [0.37055492]
 [0.4214518 ]
 [0.30240422]
 [0.33565024]
 [0.45933393]
 [0.5313801 ]
 [0.37901905]
 [0.27129948]
 [0.3579744 ]
 [0.3157371 ]
 [0.36534363]
 [0.3680961 ]
 [0.35723665]
 [0.23894985]
 [0.4562284 ]
 [0.28436446]
 [0.33458307]
 [0.30069426]
 [0.28859589]
 [0.3075645 ]
 [0.354027  ]
 [0.40374288]
 [0.32933956]
 [0.3290981 ]
 [0.4040924 ]
 [0.50265306]
 [0.40996435]
 [0.31007943]
 [0.39467052]
 [0.352124  ]
 [0.3369147 ]
 [0.3497999 ]
 [0.37503484]
 [0.41262516]
 [0.6154793 ]
 [0.3189559 ]
 [0.40134636]
 [0.43343958]
 [0.3291146 ]
 [0.351355  ]
 [0.60563445]
 [0.46719214]
 [0.56686455]
 [0.34747678]
 [0.47640267]
 [0.39852294]
 [0.34658322]
 [0.28104955]
 [0.44203687]
 [0.512306  ]
 [0.33075008]
 [0.27250823]
 [0.37885746]
 [0.2967341 ]
 [0.38009357]
 [0.30223423]
 [0.33517924]
 [0.48318207]
 [0.31795093]
 [0.35733813]
 [0.36372876]
 [0.33429   ]
 [0.3594462 ]
 [0.464321  ]
 [0.34672582]
 [0.33826813]
 [0.3512061 ]
 [0.40866992]
 [0.4259404 ]
 [0.36514375]
 [0.3277712 ]
 [0.40230545]
 [0.4736236 ]
 [0.3325538 ]
 [0.40434945]
 [0.37439427]
 [0.39515617]
 [0.3846533 ]
 [0.35914055]
 [0.34330106]
 [0.26025552]
 [0.29642925]
 [0.38351437]
 [0.44087282]
 [0.32231632]
 [0.32837942]
 [0.391111  ]
 [0.26897404]
 [0.36660475]
 [0.40572158]
 [0.3514605 ]
 [0.46747702]
 [0.37310222]
 [0.5926424 ]
 [0.2965306 ]
 [0.23900007]
 [0.38043788]
 [0.22257067]
 [0.42529312]
 [0.24314196]
 [0.3185552 ]
 [0.38309106]
 [0.3934041 ]
 [0.46137103]
 [0.38763598]
 [0.22499587]
 [0.45210108]
 [0.45124382]
 [0.36186385]
 [0.33935687]
 [0.37666175]
 [0.36912575]
 [0.37194923]
 [0.36454687]
 [0.39792103]
 [0.2109687 ]
 [0.23378938]
 [0.2966362 ]
 [0.49815512]
 [0.42266917]
 [0.4334391 ]
 [0.33553997]
 [0.38734192]
 [0.21467936]
 [0.42361417]
 [0.5122956 ]
 [0.2947967 ]
 [0.33594602]
 [0.33245537]
 [0.35683113]
 [0.29268983]
 [0.38316926]
 [0.2996942 ]
 [0.38292953]
 [0.3989749 ]
 [0.4376116 ]
 [0.38035497]
 [0.39277872]
 [0.35679784]
 [0.49456263]
 [0.50899255]
 [0.44410804]
 [0.4244284 ]
 [0.2665306 ]
 [0.31994286]
 [0.41885   ]
 [0.41261348]
 [0.43085954]
 [0.37894624]
 [0.2892574 ]
 [0.36256513]
 [0.43835267]
 [0.3542407 ]
 [0.39004788]
 [0.31628153]
 [0.22624053]
 [0.50119835]
 [0.39525804]
 [0.3521649 ]
 [0.36288634]
 [0.2760963 ]
 [0.28057948]
 [0.44323203]
 [0.47503337]
 [0.57027763]
 [0.58474296]
 [0.42215055]
 [0.4611514 ]
 [0.49929813]
 [0.2806029 ]
 [0.5534482 ]
 [0.31933057]
 [0.3738572 ]
 [0.43108433]
 [0.32214513]
 [0.42800513]
 [0.26680055]
 [0.46680394]
 [0.59954596]
 [0.36827552]
 [0.21720953]
 [0.60881805]
 [0.33399984]
 [0.30539623]
 [0.34486654]
 [0.29478136]
 [0.3703693 ]
 [0.25510454]
 [0.43345687]
 [0.5525188 ]
 [0.33857307]
 [0.3923751 ]
 [0.36637586]
 [0.37623835]
 [0.27757004]
 [0.40887144]
 [0.37312025]
 [0.46876863]
 [0.41555652]
 [0.30079493]
 [0.514251  ]
 [0.37555704]
 [0.41935554]
 [0.298811  ]
 [0.26460454]
 [0.23118278]
 [0.5660364 ]
 [0.34436455]
 [0.22807413]
 [0.38095525]
 [0.33194754]
 [0.5138493 ]
 [0.47482315]
 [0.41007653]
 [0.3559698 ]
 [0.42142853]
 [0.35373697]
 [0.40385833]
 [0.32222462]
 [0.42564988]
 [0.41747138]
 [0.34036222]
 [0.38937917]
 [0.4212087 ]
 [0.37376612]
 [0.3838698 ]
 [0.39363772]
 [0.24631827]
 [0.39132968]
 [0.35669738]
 [0.40221438]
 [0.32789072]
 [0.2512861 ]
 [0.56094414]
 [0.38534248]
 [0.2780093 ]
 [0.5052528 ]
 [0.2488028 ]
 [0.38379702]
 [0.34751865]
 [0.32322848]
 [0.22403085]
 [0.5130431 ]
 [0.37937754]
 [0.38797083]
 [0.24074514]
 [0.33340356]
 [0.41509846]
 [0.37435475]
 [0.3515125 ]
 [0.37820843]
 [0.36849034]
 [0.34229922]
 [0.40504342]
 [0.414128  ]
 [0.3048815 ]
 [0.4380004 ]
 [0.4715847 ]
 [0.33121157]
 [0.43497854]
 [0.3464563 ]
 [0.3938537 ]
 [0.34823173]
 [0.36595675]
 [0.42466605]
 [0.38766116]
 [0.373131  ]
 [0.34228483]
 [0.53252316]
 [0.35531944]
 [0.3576798 ]
 [0.45472208]
 [0.30663967]
 [0.38994846]
 [0.35297057]
 [0.55759495]
 [0.3248939 ]
 [0.39413157]
 [0.40891048]
 [0.33249775]
 [0.3687063 ]
 [0.5305011 ]
 [0.36377057]
 [0.3499004 ]
 [0.25998875]
 [0.35788563]
 [0.39068854]
 [0.36881724]
 [0.36469406]
 [0.4500136 ]
 [0.28546304]
 [0.26108944]
 [0.36788374]
 [0.4859601 ]
 [0.3478497 ]
 [0.37142792]
 [0.43551433]
 [0.44571286]
 [0.31515858]
 [0.3312212 ]
 [0.40150398]
 [0.34959635]
 [0.25720805]
 [0.3116322 ]
 [0.38104728]
 [0.32245445]
 [0.2983958 ]
 [0.5465349 ]
 [0.28081867]
 [0.21106406]
 [0.3105778 ]
 [0.34834585]
 [0.59157807]
 [0.40935418]
 [0.28197962]
 [0.28053713]
 [0.3303398 ]
 [0.36360613]
 [0.26549324]
 [0.31848818]
 [0.52608854]
 [0.35337746]
 [0.2860771 ]
 [0.31459352]
 [0.35180125]
 [0.3678948 ]
 [0.3668657 ]
 [0.44990417]
 [0.3551185 ]
 [0.5804506 ]
 [0.37137046]
 [0.4785715 ]
 [0.44863176]
 [0.4115084 ]
 [0.29026094]
 [0.38649878]
 [0.58122087]
 [0.32799473]
 [0.26743513]
 [0.32700664]
 [0.41202036]
 [0.32025343]
 [0.35100028]
 [0.48669133]
 [0.2375504 ]
 [0.38629928]
 [0.3747839 ]
 [0.28999528]
 [0.39566055]
 [0.31284085]
 [0.38978454]
 [0.27504537]
 [0.2720503 ]
 [0.38853046]
 [0.37384048]
 [0.43537986]
 [0.36501744]
 [0.3953432 ]
 [0.4334531 ]
 [0.41843346]
 [0.38897994]
 [0.38851207]
 [0.7102142 ]
 [0.36039898]
 [0.3844677 ]
 [0.42668024]
 [0.28940314]
 [0.38806754]
 [0.3026984 ]
 [0.48773536]
 [0.6577247 ]
 [0.30506644]
 [0.3967043 ]
 [0.33374736]
 [0.30929264]
 [0.5784458 ]
 [0.29851466]
 [0.36767712]
 [0.46438769]
 [0.37102655]
 [0.57422274]
 [0.51664525]
 [0.39976138]
 [0.31839067]
 [0.61964047]
 [0.36196837]
 [0.37354642]
 [0.3736792 ]
 [0.36268204]
 [0.4352365 ]
 [0.39670685]
 [0.37383994]
 [0.29974923]
 [0.32677054]
 [0.35578448]
 [0.40423796]
 [0.50892913]
 [0.38770053]
 [0.27332306]
 [0.3487492 ]
 [0.30062723]
 [0.37874264]
 [0.37089646]
 [0.41680518]
 [0.42315874]
 [0.45504615]
 [0.41372007]
 [0.5272266 ]
 [0.44411132]
 [0.38006836]
 [0.31994274]
 [0.44657218]
 [0.36709598]
 [0.330223  ]
 [0.2814656 ]
 [0.20700501]
 [0.47314173]
 [0.3063838 ]
 [0.24025507]
 [0.36626658]
 [0.4195639 ]
 [0.4040043 ]
 [0.38623622]
 [0.44649985]
 [0.4638584 ]
 [0.41359323]
 [0.36465234]
 [0.33931288]
 [0.41871843]
 [0.3451357 ]
 [0.3036635 ]
 [0.3387063 ]
 [0.42787412]
 [0.32629132]
 [0.4439784 ]
 [0.4184204 ]
 [0.26121956]
 [0.33770728]
 [0.5038356 ]
 [0.44497058]
 [0.45125535]
 [0.32720476]
 [0.3330876 ]
 [0.39055422]
 [0.37557998]
 [0.4644066 ]
 [0.36151308]
 [0.29054078]
 [0.3933913 ]
 [0.39950323]
 [0.37358317]
 [0.3870456 ]
 [0.32136884]
 [0.2935046 ]
 [0.39943716]
 [0.3842622 ]
 [0.4151729 ]
 [0.34550518]
 [0.37689513]
 [0.4005417 ]
 [0.37036487]
 [0.4319699 ]
 [0.34941593]
 [0.3135803 ]
 [0.39920598]
 [0.4325647 ]
 [0.37109685]
 [0.34953085]
 [0.47065112]
 [0.46797517]
 [0.35717735]
 [0.57979506]
 [0.38163698]
 [0.26355436]
 [0.33710718]
 [0.34212378]
 [0.49579713]
 [0.38748917]
 [0.35855484]
 [0.34472704]
 [0.24469115]
 [0.37992457]
 [0.36947   ]
 [0.35616753]
 [0.34705606]
 [0.36957452]
 [0.4101323 ]
 [0.34679532]
 [0.28789434]
 [0.43839335]
 [0.39651105]
 [0.4088401 ]
 [0.37380424]
 [0.43439266]
 [0.34510514]
 [0.40700737]
 [0.3163863 ]
 [0.36464468]
 [0.30664098]
 [0.32917312]
 [0.45090932]
 [0.37160522]
 [0.3187934 ]
 [0.38180035]
 [0.36706835]
 [0.5725891 ]
 [0.20725852]
 [0.28255746]
 [0.3455874 ]
 [0.4854348 ]
 [0.30716333]
 [0.38470587]
 [0.32868737]
 [0.27608103]
 [0.4016054 ]
 [0.4028283 ]
 [0.23811086]
 [0.36000097]
 [0.48054233]
 [0.41189256]
 [0.4308988 ]
 [0.35609898]
 [0.43453857]
 [0.2780618 ]
 [0.40469852]
 [0.41705725]
 [0.35527954]
 [0.45513156]
 [0.35600314]
 [0.39522544]
 [0.2516018 ]
 [0.3068387 ]
 [0.37016574]
 [0.32844058]]

In [65]:
test['score']=pd.DataFrame(predictions)

In [66]:
test=test.drop('features',axis=1)

In [68]:
test

,Id,tweet,emotion,score
0,40860,"[teens, sons, left, car, get, haircuts, im, pr...",sadness,0.341181
1,40861,"[teens, sons, left, car, get, haircuts, im, pr...",sadness,0.403452
2,40862,"[hartramseysuplift, youre, still, discouraged,...",sadness,0.271333
3,40863,"[nearly, dropped, phone, into, sink, hahahaha]",sadness,0.351852
4,40864,"[whenever, im, feeling, sad, listen, monsta, h...",sadness,0.465136
...,...,...,...,...
668,41528,"[does, candice, constantly, pout, #gbbo]",sadness,0.395225
669,41529,"[#unhappy, #redbus, cc, talked, them, before, ...",sadness,0.251602
670,41530,"[pull, him, afew, weeks, ago, sadly, theres, g...",sadness,0.306839
671,41531,"[im, buying, art, supplies, im, debating, seri...",sadness,0.370166
672,41532,"[ask, chafford, hundred, store, turn, their, c...",sadness,0.328441