In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df1= pd.read_csv("Desktop/emoint tweet/anger-ratings-0to1.train.txt", delimiter='\t', header=None)
df1.columns = ['Id', 'tweet', 'emotion', 'score']

In [3]:
print(df1)

        Id                                              tweet emotion  score
0    10000  How the fu*k! Who the heck! moved my fridge!.....   anger  0.938
1    10001  So my Indian Uber driver just called someone t...   anger  0.896
2    10002  @DPD_UK I asked for my parcel to be delivered ...   anger  0.896
3    10003  so ef whichever butt wipe pulled the fire alar...   anger  0.896
4    10004  Don't join @BTCare they put the phone down on ...   anger  0.896
..     ...                                                ...     ...    ...
852  10852   rose incense are the best thing I've ever bought   anger  0.125
853  10853         @jaaames1993 Literally burst out laughing.   anger  0.067
854  10854           Follow up. Follow through. Be . #success   anger  0.125
855  10855  Wrinkles should merely hide where frown have b...   anger  0.125
856  10856  Love the new song I can't stop thinking about ...   anger  0.083

[857 rows x 4 columns]

In [4]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import emoji
import re

In [5]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
df1['tweet'] = df1['tweet'].apply(preprocess_tweet)

In [6]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

df1['tweet'] = df1['tweet'].apply(remove_mentions)

In [7]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text) 
    text = re.sub(r'\d+', '', text) 
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df1['tweet'] = df1['tweet'].apply(clean_text)

In [8]:
df1

        Id                                              tweet emotion  score
0    10000  how the fuk who the heck moved my fridge shoul...   anger  0.938
1    10001  so my indian uber driver just called someone t...   anger  0.896
2    10002  i asked for my parcel to be delivered to a pic...   anger  0.896
3    10003  so ef whichever butt wipe pulled the fire alar...   anger  0.896
4    10004  dont join they put the phone down on you talk ...   anger  0.896
..     ...                                                ...     ...    ...
852  10852    rose incense are the best thing ive ever bought   anger  0.125
853  10853                       literally burst out laughing   anger  0.067
854  10854               follow up follow through be #success   anger  0.125
855  10855  wrinkles should merely hide where frown have b...   anger  0.125
856  10856  love the new song i cant stop thinking about y...   anger  0.083

[857 rows x 4 columns]

In [9]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

In [10]:
df1['tweet'] = df1['tweet'].apply(convert_emoji)

In [11]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

df1['tweet'] = df1['tweet'].apply(tokenize_tweets)

In [12]:
df1

        Id                                              tweet emotion  score
0    10000  [how, the, fuk, who, the, heck, moved, my, fri...   anger  0.938
1    10001  [so, my, indian, uber, driver, just, called, s...   anger  0.896
2    10002  [i, asked, for, my, parcel, to, be, delivered,...   anger  0.896
3    10003  [so, ef, whichever, butt, wipe, pulled, the, f...   anger  0.896
4    10004  [dont, join, they, put, the, phone, down, on, ...   anger  0.896
..     ...                                                ...     ...    ...
852  10852  [rose, incense, are, the, best, thing, ive, ev...   anger  0.125
853  10853                  [literally, burst, out, laughing]   anger  0.067
854  10854        [follow, up, follow, through, be, #success]   anger  0.125
855  10855  [wrinkles, should, merely, hide, where, frown,...   anger  0.125
856  10856  [love, the, new, song, i, cant, stop, thinking...   anger  0.083

[857 rows x 4 columns]

In [13]:
stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

df1['tweet'] = df1['tweet'].apply(remove_stopwords)

In [14]:
df1

        Id                                              tweet emotion  score
0    10000  [fuk, who, heck, moved, fridge, knock, landlor...   anger  0.938
1    10001  [indian, uber, driver, called, someone, word, ...   anger  0.896
2    10002  [asked, parcel, delivered, pick, store, addres...   anger  0.896
3    10003  [ef, whichever, butt, wipe, pulled, fire, alar...   anger  0.896
4    10004  [dont, join, they, put, phone, talk, over, rud...   anger  0.896
..     ...                                                ...     ...    ...
852  10852    [rose, incense, best, thing, ive, ever, bought]   anger  0.125
853  10853                       [literally, burst, laughing]   anger  0.067
854  10854                [follow, follow, through, #success]   anger  0.125
855  10855  [wrinkles, merely, hide, frown, have, been, ma...   anger  0.125
856  10856            [love, new, song, cant, stop, thinking]   anger  0.083

[857 rows x 4 columns]

In [15]:
import torch
from transformers import BertModel, BertTokenizer



model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)


def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)

    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    
    
    with torch.no_grad():
        outputs = model(input_ids)
    
   
    last_hidden_states = outputs.last_hidden_state
    
    features = last_hidden_states.squeeze(0).numpy()
    
    return features


df1['features'] = df1['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [16]:
df1

,Id,tweet,emotion,score,features
0,10000,"[fuk, who, heck, moved, fridge, knock, landlor...",anger,0.938,"[[-0.048211165, 0.55411077, 0.17288177, -0.387..."
1,10001,"[indian, uber, driver, called, someone, word, ...",anger,0.896,"[[-0.114754006, 0.2242083, 0.09101931, -0.1088..."
2,10002,"[asked, parcel, delivered, pick, store, addres...",anger,0.896,"[[-0.3445066, -0.026175018, 0.0032749637, -0.1..."
3,10003,"[ef, whichever, butt, wipe, pulled, fire, alar...",anger,0.896,"[[-0.08527253, 0.29024652, 0.19312719, -0.0649..."
4,10004,"[dont, join, they, put, phone, talk, over, rud...",anger,0.896,"[[-0.19458191, 0.13260978, 0.12249434, -0.2312..."
...,...,...,...,...,...
852,10852,"[rose, incense, best, thing, ive, ever, bought]",anger,0.125,"[[-0.5573598, 0.37391967, -0.46787184, 0.10334..."
853,10853,"[literally, burst, laughing]",anger,0.067,"[[-0.14927039, 0.18389827, 0.047589768, -0.044..."
854,10854,"[follow, follow, through, #success]",anger,0.125,"[[-0.21155725, 0.059810657, 0.18363638, 0.0126..."
855,10855,"[wrinkles, merely, hide, frown, have, been, ma...",anger,0.125,"[[0.040475816, 0.2076654, 0.0045883185, -0.075..."
856,10856,"[love, new, song, cant, stop, thinking]",anger,0.083,"[[-0.052609857, -0.124588385, -0.080250956, 0...."

In [17]:
df1.features[0].shape

(15, 768)

In [18]:

df1.head(10)

,Id,tweet,emotion,score,features
0,10000,"[fuk, who, heck, moved, fridge, knock, landlor...",anger,0.938,"[[-0.048211165, 0.55411077, 0.17288177, -0.387..."
1,10001,"[indian, uber, driver, called, someone, word, ...",anger,0.896,"[[-0.114754006, 0.2242083, 0.09101931, -0.1088..."
2,10002,"[asked, parcel, delivered, pick, store, addres...",anger,0.896,"[[-0.3445066, -0.026175018, 0.0032749637, -0.1..."
3,10003,"[ef, whichever, butt, wipe, pulled, fire, alar...",anger,0.896,"[[-0.08527253, 0.29024652, 0.19312719, -0.0649..."
4,10004,"[dont, join, they, put, phone, talk, over, rud...",anger,0.896,"[[-0.19458191, 0.13260978, 0.12249434, -0.2312..."
5,10005,"[blood, boiling]",anger,0.875,"[[-0.33847663, 0.43582797, -0.3691528, -0.0296..."
6,10006,"[youve, still, got, whole, season, wentworth, ...",anger,0.875,"[[-0.2145357, 0.041926354, 0.31682923, -0.3384..."
7,10007,"[does, tracking, show, equipment, delivered, w...",anger,0.875,"[[-0.17867346, 0.54314536, 0.12850264, -0.2737..."
8,10008,"[legit, furious, him, people, fucking, idiots]",anger,0.875,"[[0.12987164, 0.45778227, 0.020973768, -0.0331..."
9,10009,"[suppose, work, do, wtf, dude, thanks, pissing...",anger,0.875,"[[0.11742496, 0.36254063, 0.1227451, -0.129079..."

In [19]:
from tensorflow.keras.preprocessing.sequence import pad_sequences


features = df1['features'].tolist()


padded_features = pad_sequences(features, padding='post')


padded_df = df1.copy()
padded_df['features'] = padded_features.tolist()

In [20]:
X = np.stack(padded_df['features'])

print('Input feature shape:', X.shape)

Input feature shape: (857, 40, 768)

In [21]:
y = np.array(padded_df['score'])    
print("Input shape:", X.shape)
print("Output shape:", y.shape)

Input shape: (857, 40, 768)
Output shape: (857,)

In [23]:
X = np.reshape(X, (857, 40 * 768))  
y = np.reshape(y, (857,))

In [24]:
X.shape

(857, 30720)

In [25]:
Y=df1['score'].copy()

In [26]:
import tensorflow as tf

In [31]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv1D, MaxPooling1D
from keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(512, input_shape=(30720,), activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(1, activation='linear'))



early_stopping = EarlyStopping(monitor='mean_squared_error', patience=1, mode='min')
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_squared_error'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 512)               15729152

 dropout_5 (Dropout)         (None, 512)               0

 dense_7 (Dense)             (None, 256)               131328

 dropout_6 (Dropout)         (None, 256)               0

 dense_8 (Dense)             (None, 128)               32896

 dropout_7 (Dropout)         (None, 128)               0

 dense_9 (Dense)             (None, 64)                8256

 dropout_8 (Dropout)         (None, 64)                0

 dense_10 (Dense)            (None, 32)                2080

 dropout_9 (Dropout)         (None, 32)                0

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 15,903,745
Trainable params: 15,903,745
Non-trainable params: 0
_________________________________________________________________

In [32]:

df1['tweet'] = df1['tweet'].apply(lambda tokens: ' '.join(tokens))

array = df1['tweet'].values

tensor = tf.convert_to_tensor(array)

In [33]:

# Train the model with the EarlyStopping callback
history = model.fit(X, Y, batch_size=25, epochs=15, shuffle=True, verbose=1, callbacks=[early_stopping])

Epoch 1/15
35/35 [==============================] - 8s 179ms/step - loss: 0.0835 - mean_squared_error: 0.0835
Epoch 2/15
35/35 [==============================] - 6s 180ms/step - loss: 0.0538 - mean_squared_error: 0.0538
Epoch 3/15
35/35 [==============================] - 6s 177ms/step - loss: 0.0367 - mean_squared_error: 0.0367
Epoch 4/15
35/35 [==============================] - 6s 177ms/step - loss: 0.0294 - mean_squared_error: 0.0294
Epoch 5/15
35/35 [==============================] - 7s 186ms/step - loss: 0.0291 - mean_squared_error: 0.0291
Epoch 6/15
35/35 [==============================] - 7s 186ms/step - loss: 0.0237 - mean_squared_error: 0.0237
Epoch 7/15
35/35 [==============================] - 6s 182ms/step - loss: 0.0228 - mean_squared_error: 0.0228
Epoch 8/15
35/35 [==============================] - 6s 173ms/step - loss: 0.0176 - mean_squared_error: 0.0176
Epoch 9/15
35/35 [==============================] - 6s 174ms/step - loss: 0.0140 - mean_squared_error: 0.0140
Epoch 10/15
35/35 [==============================] - 6s 172ms/step - loss: 0.0118 - mean_squared_error: 0.0118
Epoch 11/15
35/35 [==============================] - 6s 174ms/step - loss: 0.0150 - mean_squared_error: 0.0150

In [34]:
model.save('emointjoy.h5','/Home')

In [35]:
from keras.models import load_model

loaded_model = load_model('emointjoy.h5')

In [51]:
test= pd.read_csv("Desktop/emoint tweet/anger-ratings-0to1.test.target.txt", delimiter='\t', header=None)
test.columns = ['Id', 'tweet', 'emotion', 'score']

In [52]:
test

        Id                                              tweet emotion score
0    10941  At the point today where if someone says somet...   anger  NONE
1    10942  @CorningFootball  IT'S GAME DAY!!!!      T MIN...   anger  NONE
2    10943  This game has pissed me off more than any othe...   anger  NONE
3    10944  @spamvicious I've just found out it's Candice ...   anger  NONE
4    10945  @moocowward @mrsajhargreaves @Melly77 @GaryBar...   anger  NONE
..     ...                                                ...     ...   ...
755  11696  @ggreenwald What if the supposed animosity is ...   anger  NONE
756  11697               Will BYU's offense score 24+ vs WVU?   anger  NONE
757  11698  Id love 2 c Gyimah in action but his coach is ...   anger  NONE
758  11699  Forgiving means operating with God's spirit &a...   anger  NONE
759  11700  i've got a lot of tokens saved up and i wanna ...   anger  NONE

[760 rows x 4 columns]

In [53]:
test= test.drop("score",axis=1)

In [54]:
test

        Id                                              tweet emotion
0    10941  At the point today where if someone says somet...   anger
1    10942  @CorningFootball  IT'S GAME DAY!!!!      T MIN...   anger
2    10943  This game has pissed me off more than any othe...   anger
3    10944  @spamvicious I've just found out it's Candice ...   anger
4    10945  @moocowward @mrsajhargreaves @Melly77 @GaryBar...   anger
..     ...                                                ...     ...
755  11696  @ggreenwald What if the supposed animosity is ...   anger
756  11697               Will BYU's offense score 24+ vs WVU?   anger
757  11698  Id love 2 c Gyimah in action but his coach is ...   anger
758  11699  Forgiving means operating with God's spirit &a...   anger
759  11700  i've got a lot of tokens saved up and i wanna ...   anger

[760 rows x 3 columns]

In [55]:
def preprocess_tweet(tweet):
    tweet = tweet.lower()
    tweet = re.sub(r"http\S+|www\S+|https\S+", "", tweet)
    
    return tweet
test['tweet'] = test['tweet'].apply(preprocess_tweet)

In [56]:
test

        Id                                              tweet emotion
0    10941  at the point today where if someone says somet...   anger
1    10942  @corningfootball  it's game day!!!!      t min...   anger
2    10943  this game has pissed me off more than any othe...   anger
3    10944  @spamvicious i've just found out it's candice ...   anger
4    10945  @moocowward @mrsajhargreaves @melly77 @garybar...   anger
..     ...                                                ...     ...
755  11696  @ggreenwald what if the supposed animosity is ...   anger
756  11697               will byu's offense score 24+ vs wvu?   anger
757  11698  id love 2 c gyimah in action but his coach is ...   anger
758  11699  forgiving means operating with god's spirit &a...   anger
759  11700  i've got a lot of tokens saved up and i wanna ...   anger

[760 rows x 3 columns]

In [57]:
def remove_mentions(tweet):
    return re.sub(r'@\w+', '', tweet)

test['tweet'] = test['tweet'].apply(remove_mentions)
test

        Id                                              tweet emotion
0    10941  at the point today where if someone says somet...   anger
1    10942    it's game day!!!!      t minus 14:30  #relen...   anger
2    10943  this game has pissed me off more than any othe...   anger
3    10944   i've just found out it's candice and not cand...   anger
4    10945      if he can't come to my mum'a 60th after 25...   anger
..     ...                                                ...     ...
755  11696   what if the supposed animosity is all bullshi...   anger
756  11697               will byu's offense score 24+ vs wvu?   anger
757  11698  id love 2 c gyimah in action but his coach is ...   anger
758  11699  forgiving means operating with god's spirit &a...   anger
759  11700  i've got a lot of tokens saved up and i wanna ...   anger

[760 rows x 3 columns]

In [58]:
def clean_text(text):
    text = re.sub(r'[^\w\s#@]', '', text)  # Remove all non-word characters except # and @ symbols
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'\s+', ' ', text).strip()
    return text

test['tweet'] = test['tweet'].apply(clean_text)

In [59]:
test

        Id                                              tweet emotion
0    10941  at the point today where if someone says somet...   anger
1    10942                   its game day t minus #relentless   anger
2    10943  this game has pissed me off more than any othe...   anger
3    10944  ive just found out its candice and not candace...   anger
4    10945  if he cant come to my muma th after k tweets t...   anger
..     ...                                                ...     ...
755  11696  what if the supposed animosity is all bullshit...   anger
756  11697                     will byus offense score vs wvu   anger
757  11698  id love c gyimah in action but his coach is ho...   anger
758  11699  forgiving means operating with gods spirit amp...   anger
759  11700  ive got a lot of tokens saved up and i wanna s...   anger

[760 rows x 3 columns]

In [60]:
def convert_emoji(tweet):
    text = emoji.demojize(tweet)
    return text

test['tweet'] = test['tweet'].apply(convert_emoji)

In [61]:
def tokenize_tweets(tweet):
    tokenizer = TweetTokenizer()
    return tokenizer.tokenize(tweet)

test['tweet'] = test['tweet'].apply(tokenize_tweets)

In [62]:
test

        Id                                              tweet emotion
0    10941  [at, the, point, today, where, if, someone, sa...   anger
1    10942            [its, game, day, t, minus, #relentless]   anger
2    10943  [this, game, has, pissed, me, off, more, than,...   anger
3    10944  [ive, just, found, out, its, candice, and, not...   anger
4    10945  [if, he, cant, come, to, my, muma, th, after, ...   anger
..     ...                                                ...     ...
755  11696  [what, if, the, supposed, animosity, is, all, ...   anger
756  11697              [will, byus, offense, score, vs, wvu]   anger
757  11698  [id, love, c, gyimah, in, action, but, his, co...   anger
758  11699  [forgiving, means, operating, with, gods, spir...   anger
759  11700  [ive, got, a, lot, of, tokens, saved, up, and,...   anger

[760 rows x 3 columns]

In [63]:

stop_words = [
    'a', 'an', 'and', 'are', 'as', 'at', 'be', 'by', 'for', 'from', 'has', 'he', 'in', 'is', 'it', 'its',
    'of', 'on', 'that', 'the', 'to', 'was', 'were', 'will', 'with', 'i', 'you', 'your', 'so', 'this', 'all',
    'am', 'or', 'but', 'if', 'my', 'me', 'we', 'us', 'our', 'we', 'up', 'down', 'out', 'just', 'how', 'why',
    'when', 'where', 'here', 'there', 'about', 'more', 'most', 'some', 'any', 'few', 'many', 'much', 'not',
    'only', 'other', 'same', 'such', 'no', 'nor', 'too', 'very', 'can', 'cannot', 'could', 'should', 'would',
    'might', 'must', 'shall', 'will', 'isn', 'hasn', 'doesn', 'haven', 'didn', 'hadn', 'wasn', 'weren',
    'wouldn', 'shouldn', 'ain', 'aren', 'ma'
]

def remove_stopwords(tokens):
    filtered_tokens = [token for token in tokens if len(token) > 1 and token.lower() not in stop_words]
    return filtered_tokens

test['tweet'] = test['tweet'].apply(remove_stopwords)

In [64]:
test

        Id                                              tweet emotion
0    10941  [point, today, someone, says, something, remot...   anger
1    10942                    [game, day, minus, #relentless]   anger
2    10943  [game, pissed, off, than, game, year, blood, b...   anger
3    10944  [ive, found, candice, candace, she, pout, she,...   anger
4    10945  [cant, come, muma, th, after, tweets, then, #s...   anger
..     ...                                                ...     ...
755  11696  [what, supposed, animosity, bullshit, con, ira...   anger
756  11697                    [byus, offense, score, vs, wvu]   anger
757  11698  [id, love, gyimah, action, his, coach, holding...   anger
758  11699  [forgiving, means, operating, gods, spirit, am...   anger
759  11700  [ive, got, lot, tokens, saved, wanna, spam, ev...   anger

[760 rows x 3 columns]

In [65]:
import torch
from transformers import BertModel, BertTokenizer


model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertModel.from_pretrained(model_name)

def extract_features(tweet):
    
    tokenized_text = ' '.join(tweet)
    
    
    input_ids = torch.tensor(tokenizer.encode(tokenized_text, add_special_tokens=True)).unsqueeze(0)
    
    with torch.no_grad():
        outputs = model(input_ids)
    
 
    last_hidden_states = outputs.last_hidden_state
    
    features = last_hidden_states.squeeze(0).numpy()
    
    return features


test['features'] = test['tweet'].apply(extract_features)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [66]:
test["features"][0].shape

(12, 768)

In [67]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

features = test['features'].tolist()

padded_features = pad_sequences(features, padding='post')


padded_df = test.copy()
padded_df['features'] = padded_features.tolist()

In [68]:
X_test= np.stack(padded_df['features'])


print('Input feature shape:', X_test.shape)

Input feature shape: (760, 43, 768)

In [80]:

max_sequence_length = 40  
truncated_test_data = X_test[:, :max_sequence_length, :]

print(truncated_test_data.shape)

(760, 40, 768)

In [81]:
X = np.reshape(truncated_test_data, (760, 40 * 768))

In [82]:
test_features = np.array(X)

In [83]:
print(test_features.shape)

(760, 30720)

In [84]:
predictions = loaded_model.predict(test_features)

24/24 [==============================] - 0s 11ms/step

In [85]:
print(predictions)

[[0.46497917]
 [0.38698965]
 [0.5187774 ]
 [0.39725143]
 [0.462135  ]
 [0.45312154]
 [0.34976918]
 [0.5283527 ]
 [0.42789316]
 [0.3795662 ]
 [0.563908  ]
 [0.6068222 ]
 [0.4150099 ]
 [0.5046943 ]
 [0.49170896]
 [0.42456302]
 [0.4110153 ]
 [0.40576395]
 [0.49175787]
 [0.38657203]
 [0.31104782]
 [0.33245912]
 [0.44371617]
 [0.4607534 ]
 [0.42632976]
 [0.41070804]
 [0.38059744]
 [0.35823944]
 [0.42189983]
 [0.4135949 ]
 [0.44437745]
 [0.4748812 ]
 [0.35356024]
 [0.36958903]
 [0.41419348]
 [0.43952844]
 [0.28582957]
 [0.32020888]
 [0.4225161 ]
 [0.38726926]
 [0.49004155]
 [0.42853186]
 [0.44773194]
 [0.5151202 ]
 [0.43898067]
 [0.43224892]
 [0.35471418]
 [0.38577247]
 [0.40190223]
 [0.4090554 ]
 [0.4838528 ]
 [0.39377698]
 [0.39862087]
 [0.46614775]
 [0.46970466]
 [0.31986123]
 [0.31711417]
 [0.42101976]
 [0.46423256]
 [0.43658343]
 [0.52208716]
 [0.4565932 ]
 [0.41176328]
 [0.4876761 ]
 [0.47402802]
 [0.42735973]
 [0.43874735]
 [0.4544681 ]
 [0.3887739 ]
 [0.4961859 ]
 [0.47599724]
 [0.4583831 ]
 [0.4647756 ]
 [0.49569157]
 [0.49319363]
 [0.43478003]
 [0.41131237]
 [0.5019737 ]
 [0.40296385]
 [0.39725235]
 [0.46347767]
 [0.46502814]
 [0.38267276]
 [0.3216705 ]
 [0.40949246]
 [0.4719717 ]
 [0.5697079 ]
 [0.40246397]
 [0.46274826]
 [0.42942622]
 [0.42584082]
 [0.41006345]
 [0.3708832 ]
 [0.44324416]
 [0.43237466]
 [0.5086383 ]
 [0.4920899 ]
 [0.4169805 ]
 [0.44021535]
 [0.3589659 ]
 [0.4502752 ]
 [0.3846525 ]
 [0.4284058 ]
 [0.5625239 ]
 [0.39542237]
 [0.38074008]
 [0.3985664 ]
 [0.4747793 ]
 [0.4182466 ]
 [0.40275973]
 [0.38901916]
 [0.42356533]
 [0.41970047]
 [0.40957278]
 [0.43880302]
 [0.4230416 ]
 [0.45003638]
 [0.40813687]
 [0.4513153 ]
 [0.39655256]
 [0.384088  ]
 [0.35338056]
 [0.47408757]
 [0.29798067]
 [0.4055071 ]
 [0.4710249 ]
 [0.40628573]
 [0.46280643]
 [0.4479421 ]
 [0.45425853]
 [0.46364006]
 [0.45047775]
 [0.38150492]
 [0.43213156]
 [0.38011175]
 [0.4254465 ]
 [0.51718926]
 [0.4512815 ]
 [0.4458838 ]
 [0.42255917]
 [0.41428074]
 [0.48446253]
 [0.4711901 ]
 [0.4417558 ]
 [0.4610613 ]
 [0.39364752]
 [0.44807634]
 [0.5201798 ]
 [0.3846738 ]
 [0.44813374]
 [0.43247938]
 [0.4174576 ]
 [0.4072572 ]
 [0.41357875]
 [0.46769008]
 [0.49252465]
 [0.50851756]
 [0.4892802 ]
 [0.3632647 ]
 [0.27164647]
 [0.38494685]
 [0.48665494]
 [0.42839274]
 [0.43841076]
 [0.40395272]
 [0.52248716]
 [0.45972535]
 [0.48685956]
 [0.48059782]
 [0.41211155]
 [0.47230873]
 [0.42667213]
 [0.4804714 ]
 [0.40176407]
 [0.43783128]
 [0.33171275]
 [0.31340584]
 [0.52705926]
 [0.4481048 ]
 [0.5212448 ]
 [0.41651675]
 [0.43176034]
 [0.48422948]
 [0.48433018]
 [0.39866164]
 [0.49580485]
 [0.4752623 ]
 [0.46631384]
 [0.33993298]
 [0.5523942 ]
 [0.43500772]
 [0.48305643]
 [0.5013227 ]
 [0.39499918]
 [0.4219608 ]
 [0.42043218]
 [0.3451364 ]
 [0.42903695]
 [0.47363457]
 [0.4193493 ]
 [0.3651947 ]
 [0.47268853]
 [0.48368454]
 [0.43866324]
 [0.30443627]
 [0.43241698]
 [0.39171502]
 [0.3997554 ]
 [0.4021363 ]
 [0.33842954]
 [0.40139356]
 [0.45794162]
 [0.4182799 ]
 [0.4124077 ]
 [0.48461196]
 [0.35629722]
 [0.39539698]
 [0.4858495 ]
 [0.40226915]
 [0.51327807]
 [0.5037699 ]
 [0.3867651 ]
 [0.41488788]
 [0.43045214]
 [0.45817077]
 [0.5083232 ]
 [0.4124295 ]
 [0.2919271 ]
 [0.45828226]
 [0.4966691 ]
 [0.4588339 ]
 [0.4280518 ]
 [0.39084128]
 [0.49349603]
 [0.553344  ]
 [0.43753526]
 [0.3208137 ]
 [0.54308844]
 [0.42313176]
 [0.3285599 ]
 [0.5076182 ]
 [0.42197576]
 [0.5426455 ]
 [0.4594391 ]
 [0.5034072 ]
 [0.4383783 ]
 [0.42502174]
 [0.33973387]
 [0.45948318]
 [0.46849224]
 [0.44814143]
 [0.40539417]
 [0.47815132]
 [0.4797046 ]
 [0.47242785]
 [0.46228948]
 [0.43119857]
 [0.2692851 ]
 [0.27895385]
 [0.4873083 ]
 [0.46707416]
 [0.41589427]
 [0.35485736]
 [0.37817472]
 [0.3073386 ]
 [0.32245648]
 [0.32302248]
 [0.43451947]
 [0.47363457]
 [0.5013284 ]
 [0.47162554]
 [0.47316602]
 [0.4768125 ]
 [0.47246367]
 [0.47433105]
 [0.394475  ]
 [0.41798744]
 [0.48316902]
 [0.5297467 ]
 [0.4008539 ]
 [0.44401327]
 [0.470499  ]
 [0.45860752]
 [0.34319136]
 [0.39997464]
 [0.4333916 ]
 [0.45000315]
 [0.4183034 ]
 [0.39923683]
 [0.43425912]
 [0.45933008]
 [0.4120766 ]
 [0.38892213]
 [0.43479583]
 [0.43509316]
 [0.39449674]
 [0.39258954]
 [0.3747438 ]
 [0.41084707]
 [0.52312815]
 [0.4595038 ]
 [0.4949182 ]
 [0.46607876]
 [0.40298274]
 [0.49646524]
 [0.48948768]
 [0.3861736 ]
 [0.4911745 ]
 [0.36854413]
 [0.41539684]
 [0.38754013]
 [0.35267314]
 [0.44779313]
 [0.42034146]
 [0.4281327 ]
 [0.48207876]
 [0.35259697]
 [0.5870961 ]
 [0.4025705 ]
 [0.3309985 ]
 [0.39302942]
 [0.4994417 ]
 [0.464469  ]
 [0.38973865]
 [0.4213399 ]
 [0.40128794]
 [0.45088062]
 [0.4469361 ]
 [0.43938085]
 [0.5230448 ]
 [0.5120148 ]
 [0.3346375 ]
 [0.40459314]
 [0.46864802]
 [0.45350364]
 [0.43818572]
 [0.35017815]
 [0.43203446]
 [0.3971315 ]
 [0.48143914]
 [0.43679944]
 [0.38856587]
 [0.3924497 ]
 [0.41949037]
 [0.40454507]
 [0.404786  ]
 [0.44561633]
 [0.36384162]
 [0.46670952]
 [0.46631378]
 [0.32209826]
 [0.3934414 ]
 [0.39386946]
 [0.4190745 ]
 [0.50567496]
 [0.34057465]
 [0.37646922]
 [0.44004706]
 [0.43789917]
 [0.40286937]
 [0.30437624]
 [0.32283297]
 [0.38084003]
 [0.46298867]
 [0.45634806]
 [0.42837694]
 [0.4202247 ]
 [0.41853514]
 [0.3946812 ]
 [0.47769627]
 [0.51269126]
 [0.45018473]
 [0.422452  ]
 [0.37879643]
 [0.49817976]
 [0.47461185]
 [0.48055243]
 [0.31928942]
 [0.32932374]
 [0.41858074]
 [0.41513973]
 [0.42280582]
 [0.43031237]
 [0.44227186]
 [0.42263433]
 [0.42791522]
 [0.51620275]
 [0.47220817]
 [0.50305444]
 [0.47104058]
 [0.3941227 ]
 [0.3309971 ]
 [0.4181684 ]
 [0.4977326 ]
 [0.51731354]
 [0.43550262]
 [0.46488178]
 [0.36829638]
 [0.29519448]
 [0.44235155]
 [0.49129686]
 [0.4049843 ]
 [0.38549742]
 [0.5045801 ]
 [0.48542133]
 [0.4039652 ]
 [0.32639506]
 [0.31344855]
 [0.45894966]
 [0.37039798]
 [0.4739627 ]
 [0.4329358 ]
 [0.33619812]
 [0.4516611 ]
 [0.40131494]
 [0.43643293]
 [0.46799466]
 [0.4376968 ]
 [0.37193772]
 [0.5012922 ]
 [0.4213317 ]
 [0.40479186]
 [0.393428  ]
 [0.4416217 ]
 [0.50295126]
 [0.5139953 ]
 [0.38241538]
 [0.5300805 ]
 [0.39790812]
 [0.37846714]
 [0.48167646]
 [0.45436063]
 [0.3064686 ]
 [0.43221086]
 [0.3425454 ]
 [0.3879558 ]
 [0.4437041 ]
 [0.3781672 ]
 [0.41463283]
 [0.40329623]
 [0.47989962]
 [0.3679077 ]
 [0.45477068]
 [0.54448867]
 [0.41341057]
 [0.4289203 ]
 [0.41930094]
 [0.4920285 ]
 [0.4655709 ]
 [0.50375456]
 [0.38061392]
 [0.36450112]
 [0.5067477 ]
 [0.47147912]
 [0.5548498 ]
 [0.4436254 ]
 [0.45977587]
 [0.45115677]
 [0.43704125]
 [0.44856542]
 [0.4218901 ]
 [0.38879982]
 [0.54193854]
 [0.40222827]
 [0.4513331 ]
 [0.35774323]
 [0.4315706 ]
 [0.3716978 ]
 [0.42332366]
 [0.40494603]
 [0.5023223 ]
 [0.44093987]
 [0.40874058]
 [0.33508992]
 [0.6068222 ]
 [0.47836715]
 [0.45009333]
 [0.38246778]
 [0.42008418]
 [0.482349  ]
 [0.52511823]
 [0.44048786]
 [0.514773  ]
 [0.44553408]
 [0.39385602]
 [0.36581883]
 [0.43330345]
 [0.44725963]
 [0.49459678]
 [0.42625102]
 [0.34372172]
 [0.4342375 ]
 [0.3910161 ]
 [0.42579967]
 [0.46707374]
 [0.36765578]
 [0.38735905]
 [0.5120894 ]
 [0.45460984]
 [0.46809733]
 [0.32772323]
 [0.31933552]
 [0.3724154 ]
 [0.32082433]
 [0.5012922 ]
 [0.38948202]
 [0.3437935 ]
 [0.44949153]
 [0.4335226 ]
 [0.42338803]
 [0.4888745 ]
 [0.45170936]
 [0.36974123]
 [0.46362895]
 [0.40215337]
 [0.3390174 ]
 [0.4462688 ]
 [0.4314368 ]
 [0.40777907]
 [0.50134945]
 [0.40657815]
 [0.45123783]
 [0.4628082 ]
 [0.47410002]
 [0.4754944 ]
 [0.46233833]
 [0.44850296]
 [0.3655546 ]
 [0.39594373]
 [0.4961031 ]
 [0.5606029 ]
 [0.34886208]
 [0.4243893 ]
 [0.45308462]
 [0.44299075]
 [0.49869004]
 [0.5236415 ]
 [0.3821056 ]
 [0.37186113]
 [0.44495052]
 [0.49492434]
 [0.46615925]
 [0.338456  ]
 [0.3925211 ]
 [0.45024696]
 [0.3629016 ]
 [0.39312425]
 [0.40507266]
 [0.30483055]
 [0.4163705 ]
 [0.42008957]
 [0.36540493]
 [0.49794766]
 [0.33119285]
 [0.31501773]
 [0.39635816]
 [0.44302163]
 [0.4601368 ]
 [0.49007004]
 [0.43119073]
 [0.4416118 ]
 [0.48846504]
 [0.37437534]
 [0.43672538]
 [0.37826046]
 [0.43163714]
 [0.49975753]
 [0.45996436]
 [0.27286896]
 [0.28302357]
 [0.51837504]
 [0.53384316]
 [0.38431853]
 [0.45743766]
 [0.39470944]
 [0.49769786]
 [0.3798351 ]
 [0.49552798]
 [0.55744916]
 [0.37269208]
 [0.4555035 ]
 [0.3605508 ]
 [0.43007097]
 [0.44595924]
 [0.35523757]
 [0.40794337]
 [0.4206148 ]
 [0.4396135 ]
 [0.412711  ]
 [0.35499972]
 [0.44682512]
 [0.3481612 ]
 [0.37642696]
 [0.41070822]
 [0.40888676]
 [0.50743985]
 [0.33547178]
 [0.44875315]
 [0.4836054 ]
 [0.39697704]
 [0.34987232]
 [0.47345525]
 [0.51307374]
 [0.3755301 ]
 [0.45986778]
 [0.43500045]
 [0.4358718 ]
 [0.34267804]
 [0.39515802]
 [0.41176066]
 [0.49015445]
 [0.46909192]
 [0.32801032]
 [0.49228847]
 [0.41939804]
 [0.5007435 ]
 [0.5378544 ]
 [0.4374074 ]
 [0.45090058]
 [0.273453  ]
 [0.36876255]
 [0.3537674 ]
 [0.40907398]
 [0.40920505]
 [0.42973605]
 [0.45239684]
 [0.42775238]
 [0.45933738]
 [0.41215023]
 [0.74869853]
 [0.46697375]
 [0.40986624]
 [0.34959078]
 [0.46957794]
 [0.355935  ]
 [0.4444449 ]
 [0.4594969 ]
 [0.47870922]
 [0.55598813]
 [0.41083974]
 [0.46164075]
 [0.39503106]
 [0.3769692 ]
 [0.3487138 ]
 [0.328624  ]
 [0.47001415]
 [0.40426666]
 [0.4331439 ]
 [0.44973704]
 [0.44721422]
 [0.5067572 ]
 [0.37852886]
 [0.49396458]
 [0.4623233 ]
 [0.45541206]
 [0.3808094 ]
 [0.42964607]
 [0.36996025]
 [0.3704318 ]
 [0.3478258 ]
 [0.43344983]
 [0.45831534]
 [0.4420897 ]
 [0.39483625]
 [0.42267245]
 [0.4213321 ]
 [0.47154763]
 [0.39141828]
 [0.48845926]
 [0.38220558]
 [0.51602125]
 [0.44388232]
 [0.5039418 ]
 [0.4450023 ]
 [0.5234794 ]
 [0.39651847]
 [0.47895542]
 [0.50513417]
 [0.4433259 ]
 [0.48446387]
 [0.4372079 ]
 [0.472144  ]
 [0.33489153]
 [0.45810544]
 [0.46338588]
 [0.46417338]
 [0.39241973]
 [0.49285707]
 [0.5235346 ]
 [0.41830987]
 [0.46175447]
 [0.43932137]
 [0.39170176]
 [0.33668193]
 [0.38138136]
 [0.42296168]
 [0.31967208]
 [0.5190447 ]
 [0.50376946]
 [0.37385815]
 [0.49934074]
 [0.39089575]
 [0.39027894]
 [0.48192707]
 [0.40987688]
 [0.448971  ]
 [0.39124283]
 [0.4387382 ]
 [0.43605298]
 [0.48214582]
 [0.42821315]
 [0.46965775]
 [0.41608006]
 [0.4134992 ]
 [0.4100311 ]
 [0.4462719 ]
 [0.36697173]
 [0.3844091 ]
 [0.4054273 ]
 [0.4296948 ]
 [0.46956307]
 [0.4606891 ]
 [0.45876917]
 [0.40241   ]
 [0.3254388 ]
 [0.43164834]
 [0.38506058]
 [0.44415373]
 [0.41661802]
 [0.40962926]
 [0.43753687]
 [0.38731796]
 [0.4142742 ]
 [0.44951892]
 [0.42246902]
 [0.43915144]
 [0.37827107]
 [0.39800993]
 [0.4998003 ]
 [0.36759886]
 [0.36415467]
 [0.48351866]
 [0.4677981 ]
 [0.4499998 ]
 [0.46734825]
 [0.54276806]
 [0.39351982]
 [0.43862113]
 [0.48631227]
 [0.46956307]
 [0.4642936 ]
 [0.39936185]
 [0.41573957]
 [0.4271585 ]
 [0.49629444]
 [0.52734673]
 [0.40711036]
 [0.45101467]
 [0.3299056 ]
 [0.41078377]]

In [86]:
test['score']=pd.DataFrame(predictions)

In [87]:
test=test.drop('features',axis=1)

In [88]:
test()

,Id,tweet,emotion,score
0,10941,"[point, today, someone, says, something, remot...",anger,0.464979
1,10942,"[game, day, minus, #relentless]",anger,0.386990
2,10943,"[game, pissed, off, than, game, year, blood, b...",anger,0.518777
3,10944,"[ive, found, candice, candace, she, pout, she,...",anger,0.397251
4,10945,"[cant, come, muma, th, after, tweets, then, #s...",anger,0.462135
...,...,...,...,...
755,11696,"[what, supposed, animosity, bullshit, con, ira...",anger,0.527347
756,11697,"[byus, offense, score, vs, wvu]",anger,0.407110
757,11698,"[id, love, gyimah, action, his, coach, holding...",anger,0.451015
758,11699,"[forgiving, means, operating, gods, spirit, am...",anger,0.329906
759,11700,"[ive, got, lot, tokens, saved, wanna, spam, ev...",anger,0.410784